<html>
<head>
  <title>Sudoku Solved!</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='output.css') }}">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static' , filename='fav.png') }}">
</head>
 <body>
   <img src="{{ url_for('static' , filename='emptygrid.png') }}" id="grid">
   <p id="a1">{{ a1 }}</p>
   <p id="a2">{{ a2 }}</p>
   <p id="a3">{{ a3 }}</p>
   <p id="a4">{{ a4 }}</p>
   <p id="a5">{{ a5 }}</p>
   <p id="a6">{{ a6 }}</p>
   <p id="a7">{{ a7 }}</p>
   <p id="a8">{{ a8 }}</p>
   <p id="a9">{{ a9 }}</p>
   <p id="a10">{{ a10 }}</p>
   <p id="a11">{{ a11 }}</p>
   <p id="a12">{{ a12 }}</p>
    <p id="a13">{{ a13 }}</p>
   <p id="a14">{{ a14 }}</p>
   <p id="a15">{{ a15 }}</p>
   <p id="a16">{{ a16 }}</p>
   <p id="a17">{{ a17 }}</p>
   <p id="a18">{{ a18 }}</p>
   <p id="a19">{{ a19 }}</p>
   <p id="a20">{{ a20 }}</p>
    <p id="a21">{{ a21 }}</p>
   <p id="a22">{{ a22 }}</p>
   <p id="a23">{{ a23 }}</p>
   <p id="a24">{{ a24 }}</p>
   <p id="a25">{{ a25 }}</p>
   <p id="a26">{{ a26 }}</p>
   <p id="a27">{{ a27 }}</p>
   <p id="a28">{{ a28 }}</p>
    <p id="a29">{{ a29 }}</p>
   <p id="a30">{{ a30 }}</p>
   <p id="a31">{{ a31 }}</p>
   <p id="a32">{{ a32 }}</p>
   <p id="a33">{{ a33 }}</p>
   <p id="a34">{{ a34 }}</p>
   <p id="a35">{{ a35 }}</p>
   <p id="a36">{{ a36 }}</p>
    <p id="a37">{{ a37 }}</p>
   <p id="a38">{{ a38 }}</p>
   <p id="a39">{{ a39 }}</p>
   <p id="a40">{{ a40 }}</p>
   <p id="a41">{{ a41 }}</p>
   <p id="a42">{{ a42 }}</p>
   <p id="a43">{{ a43 }}</p>
   <p id="a44">{{ a44 }}</p>
    <p id="a45">{{ a45 }}</p>
   <p id="a46">{{ a46 }}</p>
   <p id="a47">{{ a47 }}</p>
   <p id="a48">{{ a48 }}</p>
   <p id="a49">{{ a49 }}</p>
   <p id="a50">{{ a50 }}</p>
   <p id="a51">{{ a51 }}</p>
   <p id="a52">{{ a52 }}</p>
    <p id="a53">{{ a53 }}</p>
   <p id="a54">{{ a54 }}</p>
   <p id="a55">{{ a55 }}</p>
   <p id="a56">{{ a56 }}</p>
   <p id="a57">{{ a57 }}</p>
   <p id="a58">{{ a58 }}</p>
   <p id="a59">{{ a59 }}</p>
   <p id="a60">{{ a60 }}</p>
    <p id="a61">{{ a61 }}</p>
   <p id="a62">{{ a62 }}</p>
   <p id="a63">{{ a63 }}</p>
   <p id="a64">{{ a64 }}</p>
  <p id="a65">{{ a65 }}</p>
   <p id="a66">{{ a66 }}</p>
   <p id="a67">{{ a67 }}</p>
   <p id="a68">{{ a68 }}</p>
   <p id="a69">{{ a69 }}</p>
   <p id="a70">{{ a70 }}</p>
   <p id="a71">{{ a71 }}</p>
    <p id="a72">{{ a72 }}</p>
   <p id="a73">{{ a73 }}</p>
   <p id="a74">{{ a74 }}</p>
   <p id="a75">{{ a75 }}</p>
   <p id="a76">{{ a76 }}</p>
   <p id="a77">{{ a77 }}</p>
   <p id="a78">{{ a78 }}</p>
   <p id="a79">{{ a79 }}</p>
    <p id="a80">{{ a80 }}</p>
   <p id="a81">{{ a81 }}</p>
   
</html>